
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473488013'); /* IE9*/
  src: url('iconfont.eot?t=1473488013#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473488013') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473488013') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473488013#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-tianqizitiku51:before { content: "\e642"; }
.icon-bofang:before { content: "\e78a"; }
.icon-28:before { content: "\e639"; }
.icon-mai:before { content: "\e683"; }
.icon-daxue:before { content: "\e62e"; }
.icon-tianqizitiku35:before { content: "\e632"; }
.icon-weizhi:before { content: "\e64f"; }
.icon-dayu:before { content: "\e66e"; }
.icon-baoyu:before { content: "\e678"; }
.icon-xiaoyu:before { content: "\e683"; }
.icon-xiaoxue:before { content: "\e681"; }
.icon-xiaoyujiaxue:before { content: "\e685"; }
.icon-yuxue:before { content: "\e687"; }
.icon-zhongyu:before { content: "\e65d"; }
.icon-leizhenyu:before { content: "\e682"; }
.icon-zhenyu:before { content: "\e694"; }
.icon-duoyun:before { content: "\e680"; }
.icon-chucuo:before { content: "\e624"; }
.icon-yintian:before { content: "\e691"; }
.icon-qing:before { content: "\e678"; }
.icon-dabaoyu:before { content: "\e6d0"; }
.icon-zanting:before { content: "\e606"; }
.icon-liebiao01:before { content: "\e60b"; }
