html, body, h1, h2, h3, p, ul, li{
  margin: 0;
  padding: 0;
  color: white;
}
html, body {
  height: 100%;
  font-family: serif,Arial,"Microsoft YaHei",sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
