/*content*/
.layout {
  margin: 0 auto;
}
 .section-course ,
 .section-intro {
  text-align: center;
}
.section-course h2 {
  margin: 0 auto;
  padding: 20px 40px;
  font-size: 2em;
}
.mod-carousel {
  position: relative;
  height: 460px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
}
.mod-carousel .prev,
.mod-carousel .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 16px;
  border-style: solid;
  z-index: 2;
}
.mod-carousel .prev.disable {
  border-color: transparent  #ccc transparent transparent;
}
.mod-carousel .next.disable {
  border-color: transparent  transparent transparent #ccc;
}
.mod-carousel .prev{
  left:-6px;
  border-color: transparent #2e2e4f transparent transparent
}
.mod-carousel .next {
  right:-7px;
  border-color:transparent transparent transparent #2e2e4f;
}
.mod-carousel .pannel-ct {
  position: absolute;
  z-index: 1;
}
.mod-carousel .pannel {
  box-sizing: border-box;
  float: left;
  height: 460px;
  width: 460px;
  padding: 30px 26px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: 0.1s;
}
.mod-carousel .pannel.scale {
  transform: scale(1.2,1.2);
}

.mod-carousel .pannel>a {
  box-sizing: border-box;
  display: block;
  height: 100%;
  border: 8px solid transparent;
  padding: 50px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #29394d;

}
.mod-carousel .pannel h3 {
  font-size: 2em;
}
.mod-carousel .pannel h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.mod-carousel .pannel hr {
  display: inline-block;
  width: 4em;
  height: 0.4em;
  margin:2em 0;
  border: 0;
  background-color: #00bdb1;
}
.mod-carousel .v1 hr {
  background-color: #e38465;
}
.mod-carousel .v2 hr,
.mod-carousel .v4 hr {
  background-color: #ff5515;
}

.mod-carousel .v0>a {
  text-align: left;
  background-image: url(../images/bg0.png);
}
.mod-carousel .v1>a {
  text-align: left;
  background-image: url(../images/bg1.png);
}
.mod-carousel .v2>a {
  text-align: right;
  background-image: url(../images/bg2.png);
}
.mod-carousel .v3>a {
  text-align: right;
  background-image: url(../images/bg3.png);
}
.mod-carousel .v4>a {
  text-align: left;
  background-image: url(../images/bg4.png);
}
.intro-layers {
  position: relative;
  height: 900px;
  overflow: hidden;
}
.intro-mountain {
  position: absolute;
  left:50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 500px;
  width: 500px;
  margin-bottom: 370px;
  background: url(../images/intro-mountain.png) center center no-repeat;
  background-size: cover;
  z-index: 3;
}
.intro-mountain img,
.intro-mountain h3,
.intro-mountain>div,
.intro-weekly  {
  position: absolute;
}
.intro-mountain img {
  height: 50px;
}

.intro-mountain>div {
  width: 250px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 12px;
}
.intro-mountain h3 {
  font-size: 1.6em;
}
.intro-mountain img.m1 {
  right: 136px;
  top: 77px;
}
.intro-mountain h3.m1 {
  right: 0px;
  top: 40px;
}
.intro-mountain div.m1 {
  right: -194px;
  top: 87px;
}
.intro-mountain img.m2 {
  height: 40px;
  left: 207px;
  top: 132px;
}
.intro-mountain h3.m2 {
  left: 40px;
  top: 73px;
}
.intro-mountain div.m2 {
  left: -150px;
  top: 120px;
}
.intro-mountain img.m3 {
  height: 40px;
  right: 90px;
  top: 266px;
}
.intro-mountain h3.m3 {
  right: -30px;
  top: 230px;
}
.intro-mountain div.m3 {
  right: -230px;
  top: 279px;
}
.intro-mountain img.m4 {
  left: 166px;
  top: 316px;
}
.intro-mountain h3.m4 {
  left: 13px;
  top: 280px;
}
.intro-mountain div.m4 {
  left: -178px;
  top: 328px;
}
.intro-weekly {
  bottom: 0;
  left: 50%;
  width: 800px;
  transform: translateX(-50%);
  margin-bottom: 100px;
  z-index: 2;
}
.intro-weekly>img {
  float: left;
  width: 300px;
}
.intro-weekly .weekly{
  margin-left: 400px;
  margin-top: 40px;
}
.intro-weekly h3 {
  padding: 10px 0;
  font-size: 36px;
}
.intro-weekly p {
  font-size: 16px;
  padding-bottom: 10px;
}
.intro-weekly ul {
  display: inline-block;
  padding-right: 50px;
  text-align: left;
}
.intro-weekly li {
  display: list-item;
  width: 100px;
  list-style:disc;
}
.intro-weekly .btn {
  display: block;
  height: 32px;
  width: 80px;
  margin-top: 10px;
  margin-left: -30px;
  border-radius: 3px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  background-color: #d8677b;
}
.intro-bg1,
.intro-bg2 {
  position: absolute;
  bottom: 0;
  width: 120%;
  margin-left:-10%;
  margin-right: -10%;
  margin-bottom: 15px;
  z-index: 1;
}

.intro-bg1 {
  height: 800px;
  background: url(../images/intro-bg1.png) center center no-repeat;
  background-size: cover;

}
.intro-bg2 {
  height: 300px;
  margin-bottom: 340px;
  background: url(../images/intro-bg2.png) center center no-repeat;
  background-size: cover;
}
.intro-star {
 position: absolute;;
 width: 100%;
 height: 200px;
 background: url(../images/intro-star.png) center center no-repeat;
 z-index: 0;
}
.section-contract {
  overflow: hidden;
  background-color:#8e93a5
}
.section-contract .contract {
  float: left;
  margin-top: 40px;
  margin-left: 60px;
}
.section-contract .contract>li {
  position: relative;
  bottom:-30px;
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 40px;
  border-radius: 50%;
  background-color: #2f2f51;
}
.section-contract .contract a {
  position: relative;
  top: -30px;
  display: block;
  width: 90px;
  height: 90px;

}
.section-contract .contract .qq2 {
  background: url(../images/qq2.png) center center no-repeat;
  background-size: contain;
}
.section-contract .contract .qq2:hover {
  background: url(../images/qq2-hover.png) center center no-repeat;
  background-size: contain;
}
.section-contract .contract .qq3 {
  background: url(../images/qq3.png) center center no-repeat;
  background-size: contain;
}

.section-contract .contract .qq3:hover {
  background: url(../images/qq3-hover.png) center center no-repeat;
  background-size: contain;
}
.section-contract h4 {
  margin-top: 100px;
  margin-bottom: 10px;
  color: #242443;
}
.section-contract .social {
  position: relative;
  bottom: -40px;
  float: right;
  margin-top:60px;
  margin-right: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2f2f51;
}
.section-contract .social a {
  position: relative;
  top: -20px;
  display: block;
  width: 60px;
  height: 60px;
  background: url(../images/weibo.png) center center no-repeat;
  background-size: contain;
}
/*bigevent*/
.mod-bigevent .event-ct {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.mod-bigevent .events {
  position: absolute;
  height: 100%;
  width: 100%;
}
.mod-bigevent .event-ct .prev,
.mod-bigevent .event-ct .next {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  transform:translateY(-50%);
  border-width: 16px;
  border-style: solid;
  z-index: 2;
}
.mod-bigevent .event-ct .prev {
  left: -15px;
  border-color: transparent #f78801 transparent transparent;
}
.mod-bigevent .event-ct .next {
  right: -15px;
  border-color: transparent transparent transparent #f78801;
}
.mod-bigevent .event-ct  .prev.disable {
  border-color: transparent #ccc transparent transparent;
}
.mod-bigevent .event-ct .next.disable {
  border-color: transparent transparent transparent #ccc;
}
.mod-bigevent .events li {
  float: left;
  height: 100%;
}
.mod-bigevent .events a {
  display: block;
  height: 100%;
  background-color: #252545;
  background-position: center center;
  background-size: 1100px 400px;
  background-repeat: no-repeat;
}
.mod-bigevent .timeline li {
  float:left;
  height: 80px;
  width: 100px;
  margin-right: 200px;
}
.timeline .active a{
  color: #252545;
  font-weight: bolder;
}
.mod-bigevent .timeline .pointer {
  display: inline-block;
  height: 0;
  width: 0;
  border-width: 16px;
  border-style: solid;
  border-color: #252545 transparent transparent #252545;
  visibility: hidden;
}
.timeline .active .pointer{
  visibility: visible;
}
.mod-bigevent .timeline a {
  display: block;
}
/*footer*/
#footer {
  padding:20px;
  font-size: 12px;
}
#footer ul {
  text-align: center;
  margin-bottom: 6px;
}
#footer ul>li {
  display: inline-block;
  border-right: 1px solid #fff;
  padding-left: 6px;
  padding-right: 6px
}
#footer ul>li:last-child {
  border-right: 0px;
}

#footer li img {
   height: 12px;
}

/*dialog*/

.dialog-model {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  color: #666;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 1s;
}
.dialog-model.hidden {
  display: none;
}

.dialog-model .dialog {
  position: absolute;
  width: 600px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 6px #ccc;
  transition: 1s
}
.dialog-model .header {
  padding: 0.6em 1.2em;
  line-height: 2;
  border-bottom: 1px solid #ccc;
}
.dialog-model .header .close {
  float: right;
  height: 100%;
  font-size: 20px;
  color: #ccc;
}
.dialog-model .header .close:hover {
  color: #666;
}
.dialog-model .header .title {
  margin-top: 7px;
  margin-right: 40px;
  overflow: hidden;
}
.dialog-model .body {
  padding: 0.3em 2em 1.2em 2em;
  color: #333;
}
.dialog-model .body label {
  padding-top: 0.8em;
  padding-bottom:0.5em;
  display: block;
  font-weight: bolder;
}
.dialog-model .form-group input {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  padding: 0.4em;
  line-height: 1.6;
  background-color: rgb(250, 255, 189);
}
.dialog-model .form-bottom {
  margin-top: 1.6em;
}
.dialog-model .form-bottom .submit-btn {
  float: right;
}
.dialog-model .submit-btn .btn {
  line-height: 36px;
  height: 36px;
  font-size: 14px;
}
.dialog-model .form-bottom .remember {
  height: 36px;
  line-height: 36px;
}
.dialog-model .remember label {
  display: inline-block;

  cursor: pointer;
}
input.btn {
  border-width: 0;
  border-radius: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0.8;
  cursor: pointer;
}
