html,body {
	height: 100%;
}
body {
	font-family: 'STHeiti','Microsoft YaHei','宋体','arial';
}
.border-none {
	border: none !important;
}
.header {
	height: 100%;
	position: relative;
	overflow: hidden;
	background:  radial-gradient(rgb(70,70,80), rgb(47, 47, 82) 95%);
}
.header > .nav {
	position: relative;
	z-index: 9;
	height: 36px;
	line-height: 36px;
	margin-top: 50px;
	margin-right: 100px;
	border: 1px solid #fff;
	border-radius: 6px;
	float: right;
	font-size: 14px;
}
.header .nav > li {
	float: left;
	border-right: 1px solid #fff;
}
.header .nav a {
	display: block;
	padding: 0 20px;
	color: #fff;
}
.header .background-layer {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
}
.header .mountain-list {
	/*z-index: 1;*/
}
.header .mountain-list > .moun-1 {
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/moun-1.png) bottom left no-repeat;
}
.header .mountain-list > .moun-2 {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  url(../img/moun-2.png)  right bottom no-repeat;
}
.header .mountain-list > .moun-3 {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/moun-3.png) 60px bottom  no-repeat;
}
.header .sky-list {

}
.header .sky-list .sky-1,
.header .sky-list .sky-2 {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: url(../img/starts-list.png) 0 80px no-repeat;
	background-size: contain;
}
@keyframes sky-move-1 {
	  0% { transform: translateX(0)}
	100% { transform:translateX(-100%)}
}

.header .sky-list .sky-1 {
	animation: sky-move-1 220s linear 0.5s infinite normal;
}
.header .sky-list .sky-2 {
	left: 100%;
	animation: sky-move-1 220s linear 0.5s infinite normal;
}
.header .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin-top: -150px;
	margin-left: -250px;
	background: url(../img/jirengu.png) 0 0 no-repeat;
	background-size: contain;
}
.header .star-list {
	position: absolute;
	top: 0;
	left: 0;
}
.header .star-list .star{
	position: absolute;
	background-image: url(../img/shining-stars.png);
	background-repeat: no-repeat;
}
@keyframes shine {
	0% { transform: scale(0.3)}
	100% { transform: scale(1)}
}

.header .star-list .star-small {
	width: 26px;
	height: 26px;
	animation: shine 1s linear 0.5s infinite  alternate-reverse;
	background-position: 0 0;
}
.header .star-list .star-middle {
	width: 26px;
	height: 26px;
	animation: shine 1.1s linear 0.5s infinite  alternate-reverse;
	background-position: 0 -26px;
}

.header .star-list .star-pos-1 {
 	top: 380px;
	left: 270px;
}
.header .star-list .star-pos-2 {
	top: 200px;
	left: 1000px;
}
.header .star-list .star-pos-3 {
	top: 300px;
	left: 1250px;
}
.header .star-list .star-pos-4 {
	top: 260px;
	left: 590px;
}
.header .star-list .star-pos-5 {
	top: 160px;
	left: 190px;
}
.header .star-list .star-pos-6 {
	top: 230px;
	left: 350px;
}
.header .star-list .star-pos-7 {
	top: 400px;
	left: 930px;
}
.header .fly-star-ct  {

}

@keyframes fly-star {
	0% { opacity:0.7}
	60% {
		opacity: 0.3;
		transform: translate(-1000px,1000px)
	}
	60.1%,100% {
		opacity: 0;
	}
}
.header .fly-star-ct .fly-star-1 {
	position: absolute;
	z-index: 1;
	width: 50px;
	height: 50px;
	left: 600px;
	top: -50px;
	animation: fly-star 12s linear 1s infinite normal;
	background:  url(../img/flystar.png) no-repeat 0 0;
	background-size: contain;
}
.header .fly-star-ct .fly-star-2 {
	position: absolute;
	z-index: 6;
	top: -50px;
	right: 0px;
	width: 50px;
	height: 50px;
	animation: fly-star 15s linear 3s infinite normal;
	background:  url(../img/flystar.png) no-repeat 0 0;
	background-size: contain;
}
.main {
	background: rgb(48,48,82);
}
.free-course-wrap {
	color: #fff;
}

.free-course-wrap h2 {
	text-align: center;
	padding: 30px 0;
	font-size: 44px;
}
.free-course {
	position: relative;
}
.free-course .slider-wrap {
	position: relative;
	width: 1269px;
	height: 360px;
	overflow: hidden;
	margin: 0 40px;
}
.free-course .slider {
	position: absolute;
}
.free-course .slider h4 {
	font-size: 28px;
}
.free-course .slider > li {
	float: left;
	box-sizing: border-box;
	width: 423px;
	height: 360px;
	padding: 20px;
	background: #fff;
	text-align: right;
	border: 1px solid rgb(48,48,82);
}
.free-course .slider > li > a {
	display: block;
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	color: #fff;
	background-color: rgb(48,48,82);
}
.free-course .slider h4 {
	margin-top: 60px;
	margin-bottom: 20px;
}
.free-course .slider h4+p {
	margin-bottom: 40px;
}
.free-course .slider .item-1 {
	background-image: url(../img/course-1.png);
	background-position: 0 bottom;
	background-repeat: no-repeat;
}
.free-course .slider .item-2 {
	background-image: url(../img/course-2.png);
	background-position: 0 bottom;
	background-repeat: no-repeat;
}
.free-course .slider .item-3 {
	text-align: left;
	background-image: url(../img/course-3.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
.free-course .slider-page .btn-prev,
.free-course .slider-page .btn-next {
	position: absolute;
	top: 50%;
	font-size: 44px;
	padding: 100px 0;
	margin-top: -122px;
	cursor: pointer;
}
.free-course .slider-page .btn-prev:hover ,
.free-course .slider-page .btn-next:hover {
	box-shadow: 0 0 3px 2px #fff;
}
.free-course .slider-page .btn-prev {
	left: 5px;
}
.free-course .slider-page .btn-next {
	right: 5px;
	cursor: pointer;
}


/* 饥人谷介绍内容 start */
.introduct-wrap {
	position: relative;
	z-index: 1;
	background-size: contain;
}
.introduct-wrap .jirengu h4 {
	font-size: 44px;
	padding-bottom: 20px;
}

.introduct-wrap .jirengu {
	padding-top: 50px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 70px;
	color: #fff;
}
/* 翻转效果 start */

.fliper-wrap {
	perspective: 1000px;
}
.fliper-wrap .fliper{
	position: relative;
	transform-style: preserve-3d;
	transition: 1s;
}
.fliper-wrap:hover .fliper {
	transition: 1s;
	transform: rotateY(180deg);
}

.fliper-wrap .front,.fliper-wrap .back {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.fliper-wrap .front {
	z-index: 1;
}
.fliper-wrap .back {
	transform: rotateY(180deg);
}
/* 翻转效果 end */

.introduct-wrap .wrap {
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	padding:0 30px;
}
.introduct-wrap h4 {
	padding: 15px 0;
	text-align: center;
	font-size: 24px;
}
.introduct-wrap .content {
	background: linear-gradient(to bottom right,#fff,#83848a);
	box-shadow: 0 0 5px 0 #ccc;
}
.introduct-wrap .fliper .back{
	background: linear-gradient(to top left,#fff,#83848a);
}
.introduct-wrap .introduct-list {
	width: 960px;
	margin: 0 auto;
}
.introduct-wrap .introduct-list dt {
	color: #fff;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}
.introduct-wrap .tutor-list .content {
	height: 180px;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 30px;
	padding-bottom: 50px;
	color: #333;
}
.introduct-wrap .tutor-list .tutor-img {
	display: block;
	width: 110px;
	height: 110px;
	margin: 10px auto;
	border-radius: 55px;
}

.tutor-detail ul {
	padding-left: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	line-height: 1.5;
	text-align: left;
}
.tutor-detail .btn-course {
	display: block;
	width: 70px;
	height: 24px;
	line-height:24px;
	margin: 0 auto;
	border: 1px solid #333;
	border-radius: 3px;

	background: rgb(48,48,90);
	color: #fff;
}
.tutor-detail ul > li:before{
	content:'';
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: 20px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background: #333;
}

.teach-list {
	padding-bottom: 50px;
	font-size: 14px;
	color: #000;
}
.teach-list .content {
	padding: 5px 20px 15px 20px;
	line-height: 1.5;
}
.teach-list .wrap:hover {
	transition-property: width height;
	transition-duration:  0.3s;
	transform: scale(1.1);
}

	/* 饥人谷介绍内容 end */
.journal {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50%;
	font-size: 20px;
	line-height: 1.5;
	color: #fff;
	background: rgb(115,121,144) url(../img/weekly.png) 30% 20px no-repeat;
}

.journal > h4 {
	font-size: 44px;
	margin-bottom: 30px;

}

.journal .btn {
	display: block;
	width: 110px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	margin-top: 25px;
	text-align: center;
	background: rgb(227, 98, 101);
	color: #fff;
}

/* 近期课程 star*/
.near-course {
	position: relative;
}
.near-course > h4 {
	text-align: center;
	font-size: 44px;
	padding-top: 40px;
	padding-bottom: 30px;
	color: #fff;

}
.near-course .slider-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 490px;
}
.near-course .slider {
	position: absolute;
	width: 100%;
	height: 380px;
}
.near-course .slider > li {
	float: left;
	width: 100%;
	color: #fff;
	height: 380px;
}
.near-course .slider-page .btn-prev:hover,
.near-course .slider-page .btn-next:hover {
	box-shadow: 0 0 3px 1px #eee;
}
.near-course .slider-page .btn-prev,
.near-course .slider-page .btn-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 52px;
	font-weight: 700;
	padding: 100px 0;
	color: #fff;
}
.near-course .slider-page .btn-prev {
	left: 10px;
}
.near-course .slider-page .btn-next {
	right: 10px;
}
.near-course .time-line {
	width: 100%;
	position: absolute; 	
	bottom: 0;left: 0;
	background: #8e93a5;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 100px;
}
.near-course .time-line > li {
	float: left;
	position: relative;
	color: #fff;
	margin: 0 50px;
	cursor: pointer;
}

.near-course .time-line .i-arrow {
	display: none;
	position: absolute;
	top: -40px;
	left: 30px;
	border-width: 15px;
	border-style: solid;
	border-color: rgb(48,48,82) transparent transparent rgb(48,48,82);
}
.near-course  .active .i-arrow{
	display: block;
}
.near-course .course-1 {
	background: url('../img/near-course-1.png') no-repeat center 0;
	background-size: contain;
}
.near-course .course-2 {
	background: url('../img/near-course-2.png') no-repeat center 0;
	background-size: contain;
}
.near-course .course-3 {
	background: url('../img/near-course-3.png') no-repeat center 0;
	background-size: contain;
}
.near-course .course-4 {
	background: url('../img/near-course-4.png') no-repeat center 0;
	background-size: contain;
}


/* 底部样式 start */
.footer {
	background-color: rgb(48, 48, 82);
	padding-top: 25px;
	padding-bottom: 40px;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #fff;
}

.footer a {
	color: #fff;
}